.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE
.idea
*.config

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/
config/sys.config
config/vm.args
logs
rebar.lock
rebar3.crashdump
