%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
    {erf, ".*", {git, "https://github.com/nomasystems/erf.git", {branch, "develop"}}},
    {mysql_pool, ".*", {git, "https://github.com/silviucpp/mysql_pool.git", {branch, "master"}}},
    {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.9.2"}}},
    {observer_cli, ".*", {git, "https://github.com/zhongwencool/observer_cli.git", {branch, "master"}}}
]}.

{project_plugins, [
    {erlfmt, {git, "https://github.com/WhatsApp/erlfmt.git", {branch, "main"}}},
    rebar3_ex_doc
    % {rebar3_ex_doc, {git, "https://github.com/starbelly/rebar3_ex_doc.git", {branch, "main"}}}
]}.

{erlfmt, [
    write,
    {files, "{src,include,test}/*.{hrl,erl}"}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {logo, "priv/static/favicon.ico"},
    {main, "README.md"},
    {source_url, "https://github.com/redgreat/erfwong"},
    {homepage_url, "https://www.wongcw.cn"}
]}.

{shell, [
    {config, "config/sys.config"},
    {ex_doc, "-f html --language zh"},
    {apps, [erfwong]}
]}.

{minimum_otp_vsn, "26.2.1"}.

