%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{src_dirs, ["src"]}.

{deps, [
    {erf, ".*", {git, "https://github.com/nomasystems/erf.git", {branch, "develop"}}},
    {mysql_pool, ".*", {git, "https://github.com/silviucpp/mysql_pool.git", {branch, "master"}}},
    {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.9.2"}}}
]}.

%{project_plugins, [
%    {erlfmt, {git, "https://github.com/WhatsApp/erlfmt.git", {branch, "main"}}},
%    rebar3_ex_doc
%    % {rebar3_ex_doc, {git, "https://github.com/starbelly/rebar3_ex_doc.git", {branch, "main"}}}
%]}.

%{erlfmt, [
%    write,
%    {files, "{src,include,test}/*.{hrl,erl}"}
%]}.

% {ex_doc, [
%     {extras, [
%         {"README.md", #{title => "Overview"}},
%         {"LICENSE", #{title => "License"}}
%     ]},
%     {logo, "priv/static/avatar.png"},
%     {main, "README.md"},
%     {source_url, "https://github.com/redgreat/erfwong"},
%     {homepage_url, "https://www.wongcw.cn"}
% ]}.

{relx, [
    {release, {erfwong, "0.1.0"},
    [erfwong, mysql_pool, erf, lager, sasl]},
    %{mode, minimal},
    %{extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {overlay, [{mkdir, "priv/apis"},
               {copy, "priv/apis/erfwong.json", "priv/apis/erfwong.json"},
               {copy, "config/db.sample.config", "releases/0.1.0/db.config"}]}
]}.

{profiles, [{prod, [{relx, [
    {mode, prod},
    {include_erts, true},
    {include_src, false},
    {extended_start_script, true},
    {sys_config_src, "config/prod_sys.config.src"},
    {vm_args_src, "config/prod_vm.args.src"}
    ]}]
}]}.

{shell, [
    {config, "config/sys.config"},
    %{ex_doc, "-f html --language zh"},
    {apps, [erfwong]}
]}.

{minimum_otp_vsn, "26.2.1"}.
