{erl_opts, [debug_info]}.

{deps, [
    {erf, {git, "git@github.com:nomasystems/erf.git", {branch, "main"}}},
    {mysql, ".*", {git, "https://github.com/mysql-otp/mysql-otp", {tag, "1.8.0"}}}
]}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:WhatsApp/erlfmt.git", {branch, "main"}}},
    rebar3_ex_doc
]}.

{erlfmt, [
    write,
    {files, "{src,include,test}/*.{hrl,erl}"}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/redgreat/erfwong"},
    {prefix_ref_vsn_with_v, true}
]}.

{shell, [
    {config, "config/sys.config"},
    {ex_doc, "-f html --language zh"},
    {apps, [erfwong]}
]}.
